a { text-decoration: none; }
body { margin: 0 auto; overflow-x: hidden; font-family: 'Noto Serif KR', serif; }
h2 { margin-bottom: 30px; font-size: 2.7rem; }

.width-100 { width: 100%; }
.height-100 { height: 100%; }

#web-container {
    position: relative;
}

.container {
    position: relative;
    left: 50%;
    max-width: 1600px;
    transform: translateX(-50%);
    padding: 0px 48px 0px 48px;
}

/* gnb 메뉴 */
#gnb-menu {
    z-index: 3000;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: url("../resource/image/gnb_bg.png") no-repeat bottom 0 left #000;
}

#gnb-menu > #gnb-logo {
    position: absolute;
    top: 4.2%;
    left: 4.5%;
}

#gnb-menu > #gnb-close-btn {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 4.5%;
    right: 3%;
    cursor: pointer;
}

#gnb-menu > #gnb-content-container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 75%;
}

#gnb-menu > #gnb-content-container > #gnb-list-container {
    display: flex;
    width: 65%;
}

#gnb-menu > #gnb-content-container > #gnb-list-container > #gnb-main-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    list-style: none;
    padding-inline-start: 0;
}

#gnb-menu > #gnb-content-container > #gnb-list-container > #gnb-main-list li {
    color: #999;
    font-size: 3.5rem;
    font-weight: 600;
    cursor: pointer;
}

#gnb-menu > #gnb-content-container > #gnb-list-container .gnb-sub-list {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width: 43%;
    list-style: none;
    padding-inline-start: 0;
}

#gnb-menu > #gnb-content-container > #gnb-list-container .gnb-sub-list li {
    color: #999;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}

#gnb-menu > #gnb-content-container > #gnb-util-container {
    position: relative;
    width: 23%;
    padding-top: 40px;
}

#gnb-menu > #gnb-content-container > #gnb-util-container > form > #searchbar {
    position: absolute;
    width: 100%;
    height: 60px;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid #fff;
    font-size: 16px;
    background: transparent;
    outline: none;
    font-weight: 600;
    color: #fff;
}

#gnb-menu > #gnb-content-container > #gnb-util-container > form > #search-clear-btn {
    position: absolute;
    top: 12.5%;
    right: 20%;
    width: 20px;
    height: 20px;
    text-align: center;
    background: url("../resource/image/ic_x2.svg") no-repeat transparent;
    background-position: center;
    border: 0;
    cursor: pointer;
}

#gnb-menu > #gnb-content-container > #gnb-util-container > #search-btn {
    position: absolute;
    top: 10.5%;
    right: -2%;
    width: 40px;
    height: 40px;
    text-align: center;
    background: url("../resource/image/ic_search.svg") no-repeat;
    background-position: center;
    cursor: pointer;
}

#gnb-menu > #gnb-content-container > #gnb-util-container > #link-list {
    position: absolute;
    display: flex;
    top: 45%;
    height: 30%;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    padding-inline-start: 0;
}

#gnb-menu > #gnb-content-container > #gnb-util-container > #link-list li {
    color: #FFF;
    font-size: 18px;
}

#gnb-menu > #gnb-content-container > #gnb-util-container > #link-list li a {
    color: inherit;
    text-decoration: none;
}


#gnb-menu > #gnb-content-container > #gnb-util-container > #sns-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
}

#gnb-menu > #gnb-content-container > #gnb-util-container > #sns-container .sns-icon {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
}

#gnb-menu > #gnb-content-container > #gnb-util-container > #sns-container > #sns-instar {
    background: url("../resource/image/ic_sns_insta.svg") no-repeat center #202020;
}

#gnb-menu > #gnb-content-container > #gnb-util-container > #sns-container > #sns-facebook {
    background: url("../resource/image/ic_sns_facebook.svg") no-repeat center #202020;
}

#gnb-menu > #gnb-content-container > #gnb-util-container > #sns-container > #sns-x {
    background: url("../resource/image/ic_sns_x.svg") no-repeat center #202020;
}

#gnb-menu > #gnb-content-container > #gnb-util-container > #sns-container > #sns-youtube {
    background: url("../resource/image/ic_sns_youtube.svg") no-repeat center #202020;
}
/* gnb 메뉴 끝 */

/* 헤더 */
#blank-hd {
    height: 212px;
    background-color: #FFF;
}

header {
    z-index: 2000;
    position: absolute;
    top: 0;
    padding: 43px 0px 20px 0px;
    background-color: #FFF;
}

header > #hd-container > #hd-container-top {
    position: relative;
    margin-bottom: 40px;
}

header > #hd-container > #hd-container-top > #hd-logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 270px;
    height: 70px;
}

header > #hd-container > #hd-container-top > #right-nav {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

header > #hd-container > #hd-container-top > #right-nav > .now-lang {
    margin-right: 30px;
    white-space: nowrap;
}

header > #hd-container > #hd-container-top > #right-nav > .now-lang > span {
    font-size: 17px;
    font-weight: 600;
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer;
}

header > #hd-container > #hd-container-top > #right-nav > .lang-list {
    position: absolute;
    display: none;
    top: 35px;
    left: -15px;
    overflow-y: scroll;
    width: 200px;
    height: 180px;
    padding: 24px 16px 24px;
    list-style: none;
    border: 1px solid #000;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header > #hd-container > #hd-container-top > #right-nav > .lang-list li {
    margin: 0 0 20px 0;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #999;
    cursor: pointer;
    transition: .2s ease;
}

header > #hd-container > #hd-container-top > #right-nav > .lang-list li a {
    color: inherit;
    text-decoration: none;
}

header > #hd-container > #hd-container-top > #right-nav > .now-lang > #select-arrow {
    display: inline-block;
    width: 10px;
    height: 7px;
    margin-left: 8px;
}


header > #hd-container > #hd-container-top > #right-nav > #subscribe-button {
    width: 88px;
    height: 36px;
    margin-right: 40px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    line-height: 36px;
    text-align: center;
}

header > #hd-container > #hd-container-top > #right-nav > #nav-menu-btn {
    width: 24px;
    cursor: pointer;
}

header > #hd-container > #hd-container-top > #right-nav > #nav-menu-btn::before {
    background-color: #000;
    content: '';
    display: block;
    height: 2px;
    margin: 8px 0;
}

header > #hd-container > #hd-container-top > #right-nav > #nav-menu-btn > span {
    background-color: #000;
    content: '';
    display: block;
    height: 2px;
    margin: 8px 0;
}

header > #hd-container > #hd-container-top > #right-nav > #nav-menu-btn::after {
    background-color: #000;
    content: '';
    display: block;
    height: 2px;
    margin: 8px 0;
}

header > #hd-container > #hd-container-bottom > nav > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-inline-start: 0;
}

header > #hd-container > #hd-container-bottom > nav > ul li {
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
}
/* 헤더 끝 */

/* 메인 */
/* 메인 배너 */
main > #main-banner {
    position: relative;
    width: calc(100% + 96px);
    margin-left: -48px;
    margin-bottom: 160px;
    padding-top: 50%;
    background-image: url("../resource/image/main_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main > #main-banner > #main-banner-grad {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    opacity: .5;
}

main > #main-banner > p {
    z-index: 2;
    position: absolute;
    top: 58%;
    font-size: 17px;
    color: rgba(255,255,255,.5);
    text-align: center;
    font-weight: 600;
    letter-spacing: -0.02em;
}

main > #main-banner > p > span {
    color: #FFF;
}

main > #main-banner > p > span::after {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: -1px 10px;
    background: #fff;
    opacity: .7;
    content: '';
}

main > #main-banner > h2 {
    z-index: 2;
    position: absolute;
    top: 65%;
    font-size: 2.7rem;
    color: #FFF;
    text-align: center;
    font-weight: 600;
    letter-spacing: -0.02em;
}

/* TODAY's STORIES */
main > #todays-stories {
    position: relative;
    margin-bottom: 100px;
}

main > #todays-stories > #todays-stories-content {
    display: flex;
}

main > #todays-stories > #todays-stories-content > #todays-stories-left-area {
    width: calc(40% - 15px);
    margin-right: 15px;
}

main > #todays-stories > #todays-stories-content > #todays-stories-left-area > a {
    position: relative;
    display: block;
}

main > #todays-stories > #todays-stories-content > #todays-stories-left-area > a > #todays-stories-left-area-grad {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    margin-bottom: 4.5px;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    opacity: .5;
}

main > #todays-stories > #todays-stories-content > #todays-stories-left-area > a > p {
    z-index: 2;
    position: absolute;
    top: 73%;
    width: calc(100% - 60px);
    font-size: 17px;
    color: rgba(255,255,255,.5);
    text-align: left;
    font-weight: 600;
    letter-spacing: -0.05em;
}

main > #todays-stories > #todays-stories-content > #todays-stories-left-area > a > p > span {
    margin-left: 30px;
    color: #FFF;
}

main > #todays-stories > #todays-stories-content > #todays-stories-left-area > a > p > span::after {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: -1px 10px;
    background: #fff;
    opacity: .7;
    content: '';
}

main > #todays-stories > #todays-stories-content > #todays-stories-left-area > a > h3 {
    z-index: 2;
    position: absolute;
    top: 78%;
    width: calc(100% - 60px);
    margin-left: 30px;
    font-size: 1.8rem;
    color: #FFF;
    text-align: left;
    font-weight: 600;
    letter-spacing: -0.03em;
}

main > #todays-stories > #todays-stories-content > #todays-stories-right-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(60% - 15px);
    margin-left: 15px;
}

main > #todays-stories > #todays-stories-content > #todays-stories-right-area .todays-stories-post-container {
    width: calc(50% - 15px);
    margin-bottom: 80px;
    cursor: pointer;
}

main > #todays-stories > #todays-stories-content > #todays-stories-right-area .todays-stories-post-container:hover .todays-stories-post-title {
    text-decoration: underline;
    text-underline-position: under;
}

main > #todays-stories > #todays-stories-content > #todays-stories-right-area .todays-stories-post-container .todays-stories-post-image {
    margin-bottom: 10px;
} 

main > #todays-stories > #todays-stories-content > #todays-stories-right-area .todays-stories-post-container .todays-stories-post-category {
    font-size: 0.85rem;
    font-weight: 500;
}

main > #todays-stories > #todays-stories-content > #todays-stories-right-area .todays-stories-post-container .todays-stories-post-title {
    max-height: 100px;
    font-size: 1.2rem;
    margin-bottom: 25px;
}

main > #todays-stories > #todays-stories-content > #todays-stories-right-area .todays-stories-post-container .todays-stories-post-date-writer {
    font-size: 0.8rem;
    color: #999;
    text-overflow: ellipsis;
}

main > #todays-stories > #todays-stories-content > #todays-stories-right-area .todays-stories-post-container .todays-stories-post-date-writer span:first-child::after {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: -1px 10px;
    background: #999;
    content: '';
}
/* TODAY'S STORIES 끝 */

/* BEST STORIES */
main > #best-stories {
    position: relative;
    margin-bottom: 260px;
}

main > #best-stories:before {
    z-index: -1;
    position: absolute;
    top: 40%;
    left: 50%;
    bottom: 0;
    width: 100vw;
    height: 360px;
    background: #f5f5f5;
    transform: translateX(-50%);
    content: '';
}

main > #best-stories > #best-stories-swiper {
    overflow: visible;
}

main > #best-stories > #best-stories-swiper > .swiper-wrapper {
    padding: 0;
}

main > #best-stories > #best-stories-swiper > .swiper-wrapper .swiper-slide {
    width: 210px;
}

main > #best-stories > #best-stories-swiper > .swiper-wrapper .swiper-slide:hover .slide-content .slide-title {
    text-decoration: underline;
    text-underline-position: under;
}

main > #best-stories > #best-stories-swiper > .swiper-wrapper .swiper-slide a .slide-image {
    margin-bottom: 10px;
}

main > #best-stories > #best-stories-swiper > .swiper-wrapper .swiper-slide a .slide-content {
    overflow: hidden;
}

main > #best-stories > #best-stories-swiper > .swiper-wrapper .swiper-slide a .slide-content .slide-category {
    margin: 10px 0 10px 0;
    color: #000000;
}

main > #best-stories > #best-stories-swiper > .swiper-wrapper .swiper-slide a .slide-content .slide-title {
    margin: 10px 0 10px 0;
    font-size: 1.2rem;
    color: #000000;
}

main > #best-stories > #best-stories-swiper > .swiper-wrapper .swiper-slide a .slide-content .slide-date-writer {
    margin: 25px 0 10px 0;
    font-size: 0.7rem;
    color: #999999;
}

main > #best-stories > #best-stories-swiper > .swiper-wrapper .swiper-slide a .slide-content .slide-date-writer span:first-child::after {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: -1px 10px;
    background: #999;
    content: '';
}

main > #best-stories > .swiper-button-prev,
main > #best-stories > .swiper-button-next {
    z-index: 2;
    position: absolute;
    top: 6%;
    width: 48px;
    height: 48px;
    background-image: url("../resource/image/sl_arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

main > #best-stories > .swiper-button-prev {
    left: auto;
    right: 80px;
    transform: rotate(180deg);
}

main > #best-stories > .swiper-button-next {
    right: 0;
}

/* BEST STORIES 끝 */

/* MUST READ */
main > #must-read > #must-read-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
}

main > #must-read > #must-read-content .must-read-post-container {
    width: calc(25% - 24px);
}

main > #must-read > #must-read-content .must-read-post-container:hover .must-read-post-title {
    text-decoration: underline;
    text-underline-position: under;
}

main > #must-read > #must-read-content .must-read-post-container .must-read-post-image {
    margin: 10px 0 10px 0;
}

main > #must-read > #must-read-content .must-read-post-container .must-read-post-title {
    margin: 10px 0 10px 0;
    font-size: 1.2rem;
}

main > #must-read > #must-read-content .must-read-post-container .must-read-post-date-writer {
    margin: 25px 0 10px 0;
    font-size: 0.7rem;
    color: #999999;
}

main > #must-read > #must-read-content .must-read-post-container .must-read-post-date-writer span:first-child::after {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: -1px 10px;
    background: #999;
    content: '';
}
/* MUST READ 끝 */

/* HOT KEYWORD */
main > #hot-keyword {
    position: relative;
    margin-bottom: 160px;
}

main > #hot-keyword:before {
    z-index: -1;
    position: absolute;
    top: -5%;
    left: 50%;
    bottom: 0;
    width: 100vw;
    height: 330px;
    background: #f5f5f5;
    transform: translateX(-50%);
    content: '';
} 

main > #hot-keyword > #hot-keyword-content {
    position: relative;
    display: flex;
    justify-content: space-between;
}

main > #hot-keyword > #hot-keyword-content .hot-keyword-post-container {
    width: calc(25% - 24px);
}

main > #hot-keyword > #hot-keyword-content .hot-keyword-post-container:first-child {
    position: relative;
}

main > #hot-keyword > #hot-keyword-content .hot-keyword-post-container:first-child > h2 {
    position: absolute;
    top: 5%;
    font-size: 1.5rem;
    color: #888;
}

main > #hot-keyword > #hot-keyword-content .hot-keyword-post-container:first-child > p {
    position: absolute;
    top: 15%;
    font-size: 2.5rem;
    color: #000;
    font-weight: 600;
    text-decoration: underline;
    text-underline-position: under;
}

main > #hot-keyword > #hot-keyword-content .hot-keyword-post-container:hover .hot-keyword-post-title {
    text-decoration: underline;
    text-underline-position: under;
}

main > #hot-keyword > #hot-keyword-content .hot-keyword-post-container .hot-keyword-post-image {
    margin: 10px 0 10px 0;
}

main > #hot-keyword > #hot-keyword-content .hot-keyword-post-container .hot-keyword-post-title {
    margin: 10px 0 10px 0;
    font-size: 1.2rem;
}

main > #hot-keyword > #hot-keyword-content .hot-keyword-post-container .hot-keyword-post-date-writer {
    margin: 25px 0 10px 0;
    font-size: 0.7rem;
    color: #999999;
}

main > #hot-keyword > #hot-keyword-content .hot-keyword-post-container .hot-keyword-post-date-writer span:first-child::after {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: -1px 10px;
    background: #999;
    content: '';
}
/* HOT KEYWORD 끝 */

/* FASHION */
main > #fashion {
    position: relative;
    margin-bottom: 160px;
}

main > #fashion > #fashion-content  {
    display: flex;
}

main > #fashion > #fashion-content > #fashion-left-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(60% - 15px);
    margin-right: 15px;
}

main > #fashion > #fashion-content > #fashion-right-area {
    width: calc(40% - 15px);
    margin-left: 15px;
}

main > #fashion > #fashion-content > #fashion-right-area > a {
    position: relative;
    display: block;
}

main > #fashion > #fashion-content > #fashion-right-area > a > #fashion-right-area-grad {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    margin-bottom: 4.5px;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    opacity: .5;
}

main > #fashion > #fashion-content > #fashion-right-area > a > p {
    z-index: 2;
    position: absolute;
    top: 73%;
    width: calc(100% - 60px);
    font-size: 17px;
    color: rgba(255,255,255,.5);
    text-align: left;
    font-weight: 600;
    letter-spacing: -0.05em;
}

main > #fashion > #fashion-content > #fashion-right-area > a > p > span {
    margin-left: 30px;
    color: #FFF;
}

main > #fashion > #fashion-content > #fashion-right-area > a > p > span::after {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: -1px 10px;
    background: #fff;
    opacity: .7;
    content: '';
}

main > #fashion > #fashion-content > #fashion-right-area > a > h3 {
    z-index: 2;
    position: absolute;
    top: 78%;
    width: calc(100% - 60px);
    margin-left: 30px;
    font-size: 1.8rem;
    color: #FFF;
    text-align: left;
    font-weight: 600;
    letter-spacing: -0.03em;
}

main > #fashion > #fashion-content > #fashion-left-area .fashion-post-container {
    width: calc(50% - 15px);
    margin-bottom: 80px;
    cursor: pointer;
}

main > #fashion > #fashion-content > #fashion-left-area .fashion-post-container:hover .fashion-post-title {
    text-decoration: underline;
    text-underline-position: under;
}

main > #fashion > #fashion-content > #fashion-left-area .fashion-post-container .fashion-post-image {
    margin-bottom: 10px;
} 

main > #fashion > #fashion-content > #fashion-left-area .fashion-post-container .fashion-post-category {
    font-size: 0.85rem;
    font-weight: 500;
}

main > #fashion > #fashion-content > #fashion-left-area .fashion-post-container .fashion-post-title {
    max-height: 100px;
    font-size: 1.2rem;
    margin-bottom: 25px;
}

main > #fashion > #fashion-content > #fashion-left-area .fashion-post-container .fashion-post-date-writer {
    font-size: 0.8rem;
    color: #999;
    text-overflow: ellipsis;
}

main > #fashion > #fashion-content > #fashion-left-area .fashion-post-container .fashion-post-date-writer span:first-child::after {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: -1px 10px;
    background: #999;
    content: '';
}

main > #fashion > #fashion-more {
    z-index: 2;
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 16px;
    color: #666;
    font-weight: 600;
    letter-spacing: 0.11rem;
}
/* FASHION 끝 */

/* LIFESTYLE */
main > #lifestyle {
    position: relative;
    margin-bottom: 160px;
}

main > #lifestyle > #lifestyle-content {
    position: relative;
    display: flex;
    justify-content: space-between;
}

main > #lifestyle > #lifestyle-content .lifestyle-post-container {
    width: calc(25% - 24px);
}

main > #lifestyle > #lifestyle-content .lifestyle-post-container:hover .lifestyle-post-title {
    text-decoration: underline;
    text-underline-position: under;
}

main > #lifestyle > #lifestyle-content .lifestyle-post-container .lifestyle-post-image {
    margin: 10px 0 10px 0;
}

main > #lifestyle > #lifestyle-content .lifestyle-post-container .lifestyle-post-title {
    margin: 10px 0 10px 0;
    font-size: 1.2rem;
}

main > #lifestyle > #lifestyle-content .lifestyle-post-container .lifestyle-post-date-writer {
    margin: 25px 0 10px 0;
    font-size: 0.7rem;
    color: #999999;
}

main > #lifestyle > #lifestyle-content .lifestyle-post-container .lifestyle-post-date-writer span:first-child::after {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: -1px 10px;
    background: #999;
    content: '';
}

main > #lifestyle > #lifestyle-more {
    z-index: 2;
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 16px;
    color: #666;
    font-weight: 600;
    letter-spacing: 0.11rem;
}
/* LIFESTYLE 끝 */

/* BEAUTY */
main > #beauty {
    position: relative;
    margin-bottom: 160px;
}

main > #beauty > #beauty-content {
    display: flex;
}

main > #beauty > #beauty-content > #beauty-left-area {
    width: calc(40% - 15px);
    margin-right: 15px;
}

main > #beauty > #beauty-content > #beauty-left-area > a {
    position: relative;
    display: block;
}

main > #beauty > #beauty-content > #beauty-left-area > a > #beauty-left-area-grad {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    margin-bottom: 4.5px;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    opacity: .5;
}

main > #beauty > #beauty-content > #beauty-left-area > a > p {
    z-index: 2;
    position: absolute;
    top: 73%;
    width: calc(100% - 60px);
    font-size: 17px;
    color: rgba(255,255,255,.5);
    text-align: left;
    font-weight: 600;
    letter-spacing: -0.05em;
}

main > #beauty > #beauty-content > #beauty-left-area > a > p > span {
    margin-left: 30px;
    color: #FFF;
}

main > #beauty > #beauty-content > #beauty-left-area > a > p > span::after {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: -1px 10px;
    background: #fff;
    opacity: .7;
    content: '';
}

main > #beauty > #beauty-content > #beauty-left-area > a > h3 {
    z-index: 2;
    position: absolute;
    top: 78%;
    width: calc(100% - 60px);
    margin-left: 30px;
    font-size: 1.8rem;
    color: #FFF;
    text-align: left;
    font-weight: 600;
    letter-spacing: -0.03em;
}

main > #beauty > #beauty-content > #beauty-right-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(60% - 15px);
    margin-left: 15px;
}

main > #beauty > #beauty-content > #beauty-right-area .beauty-post-container {
    width: calc(50% - 15px);
    margin-bottom: 80px;
    cursor: pointer;
}

main > #beauty > #beauty-content > #beauty-right-area .beauty-post-container:hover .beauty-post-title {
    text-decoration: underline;
    text-underline-position: under;
}

main > #beauty > #beauty-content > #beauty-right-area .beauty-post-container .beauty-post-image {
    margin-bottom: 10px;
} 

main > #beauty > #beauty-content > #beauty-right-area .beauty-post-container .beauty-post-category {
    font-size: 0.85rem;
    font-weight: 500;
}

main > #beauty > #beauty-content > #beauty-right-area .beauty-post-container .beauty-post-title {
    max-height: 100px;
    font-size: 1.2rem;
    margin-bottom: 25px;
}

main > #beauty > #beauty-content > #beauty-right-area .beauty-post-container .beauty-post-date-writer {
    font-size: 0.8rem;
    color: #999;
    text-overflow: ellipsis;
}

main > #beauty > #beauty-content > #beauty-right-area .beauty-post-container .beauty-post-date-writer span:first-child::after {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: -1px 10px;
    background: #999;
    content: '';
}

main > #beauty > #beauty-more {
    z-index: 2;
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 16px;
    color: #666;
    font-weight: 600;
    letter-spacing: 0.11rem;
}
/* BEAUTY 끝 */

/* CULTURE */
main > #culture {
    position: relative;
    margin-bottom: 160px;
}

main > #culture > #culture-content {
    position: relative;
    display: flex;
    justify-content: space-between;
}

main > #culture > #culture-content .culture-post-container {
    width: calc(25% - 24px);
}

main > #culture > #culture-content .culture-post-container:hover .culture-post-title {
    text-decoration: underline;
    text-underline-position: under;
}

main > #culture > #culture-content .culture-post-container .culture-post-image {
    margin: 10px 0 10px 0;
}

main > #culture > #culture-content .culture-post-container .culture-post-title {
    margin: 10px 0 10px 0;
    font-size: 1.2rem;
}

main > #culture > #culture-content .culture-post-container .culture-post-date-writer {
    margin: 25px 0 10px 0;
    font-size: 0.7rem;
    color: #999999;
}

main > #culture > #culture-content .culture-post-container .culture-post-date-writer span:first-child::after {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: -1px 10px;
    background: #999;
    content: '';
}

main > #culture > #culture-more {
    z-index: 2;
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 16px;
    color: #666;
    font-weight: 600;
    letter-spacing: 0.11rem;
}
/* CULTURE 끝 */

/* LATEST STORIES */
main > #latest-stories {
    position: relative;
    margin-bottom: 160px;
}

main > #latest-stories > #latest-stories-content  {
    display: flex;
}

main > #latest-stories > #latest-stories-content > #latest-stories-left-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(70% - 15px);
    margin-right: 15px;
}

main > #latest-stories > #latest-stories-content > #latest-stories-right-area {
    width: calc(30% - 15px);
    margin-left: 15px;
}

main > #latest-stories > #latest-stories-content > #latest-stories-left-area .latest-stories-post-container {
    width: calc(32% - 15px);
    margin-bottom: 40px;
    cursor: pointer;
}

main > #latest-stories > #latest-stories-content > #latest-stories-left-area .latest-stories-post-container:hover .latest-stories-post-title {
    text-decoration: underline;
    text-underline-position: under;
}

main > #latest-stories > #latest-stories-content > #latest-stories-left-area .latest-stories-post-container .latest-stories-post-image {
    margin-bottom: 10px;
} 

main > #latest-stories > #latest-stories-content > #latest-stories-left-area .latest-stories-post-container .latest-stories-post-category {
    font-size: 0.85rem;
    font-weight: 500;
}

main > #latest-stories > #latest-stories-content > #latest-stories-left-area .latest-stories-post-container .latest-stories-post-title {
    max-height: 100px;
    font-size: 1.2rem;
    margin-bottom: 25px;
}

main > #latest-stories > #latest-stories-content > #latest-stories-left-area .latest-stories-post-container .latest-stories-post-date-writer {
    font-size: 0.8rem;
    color: #999;
    text-overflow: ellipsis;
}

main > #latest-stories > #latest-stories-content > #latest-stories-left-area .latest-stories-post-container .latest-stories-post-date-writer span:first-child::after {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: -1px 10px;
    background: #999;
    content: '';
}

main > #latest-stories > #latest-stories-content > #latest-stories-right-area > #latest-stories-ad-container {
    position: sticky;
    top: 0;
}
/* LATEST STORIES 끝 */
/* 메인 끝 */

/* 푸터 */
footer > #ft-container {
    position: relative;
    background-color: #000;
    height: 200px;
    padding-top: 90px;
    padding-bottom: 30px;
}

footer > #ft-container > #ft-logo {
    text-align: center;
    margin-bottom: 20px;
}

footer > #ft-container > #ft-list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding-inline-start: 0;
}

footer > #ft-container > #ft-list li {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    list-style: none;
}

footer > #ft-container > #ft-list li:nth-child(n+2)::before {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: -1px 10px;
    background: #999;
    content: '';
}

footer > #ft-container > #ft-copyright {
    font-size: 13px;
    color: #FFF;
    text-align: center;
    opacity: .5;
}

footer > #ft-container > #top-btn {
    z-index: 1000;
    position: fixed;
    display: none;
    right: 10px;
    top: auto;
    bottom: 40px;
    font-size: 11px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.2rem;
    background: transparent;
    opacity: 0;
    cursor: pointer;
}

footer > #ft-container > #top-btn > p {
    margin-top: 0;
}
/* 푸터 끝 */
