@media (min-width:1025px) {
    html { font-size: 16px; }
    .container { padding: 0px 48px 0px 48px; }

    /* 헤더 */
    header > #hd-container > #hd-container-top > #hd-logo { left: 50%; transform: translateX(-50%); }
    header > #hd-container > #hd-container-bottom > nav > ul { justify-content: center; }

    /* 메인 */  
    main > #main-banner { padding-top: 50%; }
    main > #main-banner > p { font-size: 1.1rem; }
    main > #main-banner > h2 { font-size: 2.7rem; }

    /* TODAY's STORIES */
    main > #todays-stories > #todays-stories-content > #todays-stories-left-area { margin-right: 15px; }
    main > #todays-stories > #todays-stories-content > #todays-stories-right-area { width: calc(60% - 15px); margin-left: 15px; }
    main > #todays-stories > #todays-stories-content > #todays-stories-right-area .todays-stories-post-container { width: calc(50% - 15px); margin-bottom: 80px; }
    main > #todays-stories > #todays-stories-content > #todays-stories-left-area > a > p { top: 73%; }
    main > #todays-stories > #todays-stories-content > #todays-stories-left-area > a > h3 { top: 78%; font-size: 1.8rem; }

    /* MUST READ */
    main > #must-read > #must-read-content .must-read-post-container { width: calc(25% - 24px); }

    /* HOT KEYWORD */
    main > #hot-keyword > #hot-keyword-content .hot-keyword-post-container { width: calc(25% - 24px); }

    /* FASHION */
    main > #fashion > #fashion-content > #fashion-left-area { margin-right: 15px; }
    main > #fashion > #fashion-content > #fashion-left-area .fashion-post-container { width: calc(50% - 15px); margin-bottom: 80px; }
    main > #fashion > #fashion-content > #fashion-right-area { width: calc(40% - 15px); margin-left: 15px; }
    main > #fashion > #fashion-content > #fashion-right-area > a > p { top: 73%; }
    main > #fashion > #fashion-content > #fashion-right-area > a > h3 { top: 78%; font-size: 1.8rem; }

    /* LIFESTYLE */
    main > #lifestyle > #lifestyle-content .lifestyle-post-container { width: calc(25% - 24px); }

    /* BEAUTY */
    main > #beauty > #beauty-content > #beauty-left-area { margin-right: 15px; }
    main > #beauty > #beauty-content > #beauty-left-area > a > p { top: 73%; }
    main > #beauty > #beauty-content > #beauty-left-area > a > h3 { top: 78%; font-size: 1.8rem; }
    main > #beauty > #beauty-content > #beauty-right-area { width: calc(60% - 15px); margin-left: 15px; }
    main > #beauty > #beauty-content > #beauty-right-area .beauty-post-container { width: calc(50% - 15px); }

    /* CULTURE */
    main > #culture > #culture-content .culture-post-container { width: calc(25% - 24px); }

    /* LATEST STORIES */
    main > #latest-stories > #latest-stories-content > #latest-stories-left-area { width: calc(70% - 15px); margin-right: 15px; }
    main > #latest-stories > #latest-stories-content > #latest-stories-left-area .latest-stories-post-container { width: calc(32% - 15px); }
    main > #latest-stories > #latest-stories-content > #latest-stories-right-area { display: block; }
}

@media (max-width:1024px) {
    html { font-size: 15px; }
    h2 { font-size: 2.7rem; }
    .container { padding: 0px 24px 0px 24px; }

    /* 헤더 */
    #blank-hd { height: 212px; }
    header > #hd-container > #hd-container-top > #hd-logo { left: 2.5%; width: 270px; transform: translateX(0); }
    header > #hd-container > #hd-container-bottom > nav > ul { justify-content: flex-start; }
    header > #hd-container > #hd-container-top > #right-nav > .lang-list { left: -15px; width: 200px; }
    header > #hd-container > #hd-container-top > #right-nav > #subscribe-button { display: block; }
    header > #hd-container > #hd-container-bottom > nav > ul li { margin-left: 25px; margin-right: 25px; }

    /* gnb */
    #gnb-menu > #gnb-content-container > #gnb-list-container > #gnb-main-list li { font-size: 3.5rem; }
    #gnb-menu > #gnb-content-container > #gnb-list-container .gnb-sub-list li { font-size: 1.5rem; }

    /* 메인 */
    main > #main-banner { padding-top: 100%; }
    main > #main-banner > p { font-size: 1rem; }
    main > #main-banner > h2 { font-size: 2.5rem; }

    /* TODAY's STORIES */
    main > #todays-stories > #todays-stories-content { flex-wrap: nowrap; }
    main > #todays-stories > #todays-stories-content > #todays-stories-left-area { width: calc(40% - 15px); margin-right: 7.5px; margin-bottom: 0; }
    main > #todays-stories > #todays-stories-content > #todays-stories-left-area > a > p { top: 68%; left: 30px; }
    main > #todays-stories > #todays-stories-content > #todays-stories-left-area > a > h3 { top: 73%; left: 30px; font-size: 1.5rem; }
    main > #todays-stories > #todays-stories-content > #todays-stories-right-area { flex-wrap: wrap; width: 60%; margin-left: 7.5px; }
    main > #todays-stories > #todays-stories-content > #todays-stories-right-area .todays-stories-post-container { width: calc(50% - 7px); margin-bottom: 30px; }
    main > #todays-stories > #todays-stories-content > #todays-stories-right-area .todays-stories-post-container .todays-stories-post-image { float: none; width: auto; margin-right: 0; }
    main > #todays-stories > #todays-stories-content > #todays-stories-right-area .todays-stories-post-container .todays-stories-post-category { margin-block-start: 1em; }
    main > #todays-stories > #todays-stories-content > #todays-stories-right-area .todays-stories-post-container .todays-stories-post-title { margin-bottom: 30px; }
    
    /* BEST STORIES */
    main > #best-stories::before { display: block; }

    /* MUST READ */
    main > #must-read > #must-read-content { flex-wrap: nowrap; }
    main > #must-read > #must-read-content .must-read-post-container { width: calc(25% - 12px); }

    /* HOT KEYWORD */
    main > #hot-keyword > #hot-keyword-content { flex-wrap: nowrap; }
    main > #hot-keyword:before { height: 330px; }
    main > #hot-keyword > #hot-keyword-content .hot-keyword-post-container { width: calc(25% - 12px); margin-bottom: 0; }
    main > #hot-keyword > #hot-keyword-content .hot-keyword-post-container:first-child { height: auto; }
    main > #hot-keyword > #hot-keyword-content .hot-keyword-post-container .hot-keyword-post-image { float: none; width: auto; margin-left: 0; margin-right: 0; }
    main > #hot-keyword > #hot-keyword-content .hot-keyword-post-container .hot-keyword-post-category { margin-block-start: 1em; }
    main > #hot-keyword > #hot-keyword-content .hot-keyword-post-container .hot-keyword-post-title { margin-bottom: 30px; }

    /* FASHION */
    main > #fashion > #fashion-content { flex-wrap: nowrap; flex-direction: row; }
    main > #fashion > #fashion-content > #fashion-left-area { width: calc(60% - 15px); margin-right: 7.5px; }
    main > #fashion > #fashion-content > #fashion-left-area .fashion-post-container { width: calc(50% - 7px); margin-bottom: 30px; }
    main > #fashion > #fashion-content > #fashion-left-area .fashion-post-container .fashion-post-image { float: none; width: auto; margin-right: 0; }
    main > #fashion > #fashion-content > #fashion-left-area .fashion-post-container .fashion-post-category { margin-block-start: 1em; }
    main > #fashion > #fashion-content > #fashion-left-area .fashion-post-container .fashion-post-title { margin-bottom: 30px; }
    main > #fashion > #fashion-content > #fashion-right-area { width: calc(40%); margin-left: 7.5px; margin-bottom: 0; }
    main > #fashion > #fashion-content > #fashion-right-area > a > p { top: 68%; left: 30px; }
    main > #fashion > #fashion-content > #fashion-right-area > a > h3 { top: 73%; left: 30px; font-size: 1.5rem; }
    
    /* LIFESTYLE */
    main > #lifestyle > #lifestyle-content { flex-wrap: nowrap; }
    main > #lifestyle > #lifestyle-content .lifestyle-post-container { width: calc(25% - 12px); margin-bottom: 0; }

    /* BEAUTY */
    main > #beauty > #beauty-content { flex-wrap: nowrap; }
    main > #beauty > #beauty-content > #beauty-left-area { width: calc(40% - 15px); margin-right: 7.5px; margin-bottom: 0; }
    main > #beauty > #beauty-content > #beauty-left-area > a > p { top: 68%; left: 30px; }
    main > #beauty > #beauty-content > #beauty-left-area > a > h3 { top: 73%; left: 30px; font-size: 1.5rem; }
    main > #beauty > #beauty-content > #beauty-right-area { flex-wrap: wrap; width: 60%; margin-left: 7.5px; }
    main > #beauty > #beauty-content > #beauty-right-area .beauty-post-container { width: calc(50% - 7px); margin-bottom: 30px; }
    main > #beauty > #beauty-content > #beauty-right-area .beauty-post-container .beauty-post-image { float: none; width: auto; margin-right: 0; }
    main > #beauty > #beauty-content > #beauty-right-area .beauty-post-container .beauty-post-category { margin-block-start: 1em; }
    main > #beauty > #beauty-content > #beauty-right-area .beauty-post-container .beauty-post-title { margin-bottom: 30px; }

    /* CULTURE */
    main > #culture > #culture-content { flex-wrap: nowrap; }
    main > #culture > #culture-content .culture-post-container { width: calc(25% - 12px); margin-bottom: 0; }

    /* LATEST STORIES */
    main > #latest-stories { margin-bottom: 160px; }
    main > #latest-stories > #latest-stories-content > #latest-stories-left-area { width: 100%; margin-right: 0; }
    main > #latest-stories > #latest-stories-content > #latest-stories-left-area .latest-stories-post-container { width: 32%; }
    main > #latest-stories > #latest-stories-content > #latest-stories-right-area { display: none; }
}

@media (max-width:768px) {
    html { font-size: 13px; }
    h2 { font-size: 2rem; }
    .container { padding: 0px 12px 0px 12px; }

    /* 헤더 */
    #blank-hd { height: 174px; }
    header > #hd-container > #hd-container-top > #hd-logo { width: 135px; }
    header > #hd-container > #hd-container-top > #right-nav > .lang-list { left: -70px; width: 165px; }
    header > #hd-container > #hd-container-top > #right-nav > #subscribe-button { display: none; }
    header > #hd-container > #hd-container-bottom > nav > ul li { margin-left: 15px; margin-right: 15px; }
    
    /* gnb */
    #gnb-menu > #gnb-content-container > #gnb-list-container > #gnb-main-list li { font-size: 2.2rem; }
    #gnb-menu > #gnb-content-container > #gnb-list-container .gnb-sub-list li { font-size: 1.2rem; }

    /* 메인 */
    main > #main-banner { padding-top: 150%; }
    main > #main-banner > p { top: 78%; }
    main > #main-banner > h2 { top: 80%; font-size: 2rem; }

    /* TODAY's STORIES */
    main > #todays-stories > #todays-stories-content { flex-wrap: wrap; }
    main > #todays-stories > #todays-stories-content > #todays-stories-left-area { width: 100%; margin-right: 0; margin-bottom: 20px; }
    main > #todays-stories > #todays-stories-content > #todays-stories-left-area > a > p { top: 86%; left: 45px; }
    main > #todays-stories > #todays-stories-content > #todays-stories-left-area > a > h3 { top: 88%; left: 45px; }
    main > #todays-stories > #todays-stories-content > #todays-stories-right-area { flex-wrap: wrap; width: 100%; margin-left: 0; }
    main > #todays-stories > #todays-stories-content > #todays-stories-right-area .todays-stories-post-container { width: 100%; margin-bottom: 10px; }
    main > #todays-stories > #todays-stories-content > #todays-stories-right-area .todays-stories-post-container .todays-stories-post-image { float: left; width: 40%; margin-right: 20px; }
    main > #todays-stories > #todays-stories-content > #todays-stories-right-area .todays-stories-post-container .todays-stories-post-category { margin-block-start: 0; }
    main > #todays-stories > #todays-stories-content > #todays-stories-right-area .todays-stories-post-container .todays-stories-post-title { margin-bottom: 15px; }

    /* BEST STORIES */
    main > #best-stories::before { display: none; }
    main > #best-stories > .swiper-button-prev { display: block; }
    main > #best-stories > .swiper-button-next { display: block; }

    /* MUST READ */
    main > #must-read > #must-read-content { flex-wrap: wrap; }
    main > #must-read > #must-read-content .must-read-post-container { width: calc(50% - 6px); margin-bottom: 40px; }

    /* HOT KEYWORD */
    main > #hot-keyword > #hot-keyword-content { flex-wrap: wrap; }
    main > #hot-keyword:before { height: 1200px; }
    main > #hot-keyword > #hot-keyword-content .hot-keyword-post-container { width: 100%; margin-bottom: 10px; }
    main > #hot-keyword > #hot-keyword-content .hot-keyword-post-container:first-child { height: 230px; }
    main > #hot-keyword > #hot-keyword-content .hot-keyword-post-container:first-child > h2 { top: 35%; left: 50%; transform: translateX(-50%); font-size: 1.1rem; }
    main > #hot-keyword > #hot-keyword-content .hot-keyword-post-container:first-child > p { top: 50%; left: 50%; transform: translateX(-50%); font-size: 1.8rem; }
    main > #hot-keyword > #hot-keyword-content .hot-keyword-post-container .hot-keyword-post-image { float: left; width: 37%; margin-left: 20px; margin-right: 20px; }
    main > #hot-keyword > #hot-keyword-content .hot-keyword-post-container .hot-keyword-post-category { margin-block-start: 0; }
    main > #hot-keyword > #hot-keyword-content .hot-keyword-post-container .hot-keyword-post-title { margin-bottom: 15px; }

    /* FASHION */
    main > #fashion > #fashion-content { flex-wrap: wrap; flex-direction: column-reverse; }
    main > #fashion > #fashion-content > #fashion-left-area { flex-wrap: wrap; width: 100%; margin-right: 0; }
    main > #fashion > #fashion-content > #fashion-left-area .fashion-post-container { width: 100%; margin-bottom: 10px; }
    main > #fashion > #fashion-content > #fashion-left-area .fashion-post-container .fashion-post-image { float: left; width: 40%; margin-right: 20px; }
    main > #fashion > #fashion-content > #fashion-left-area .fashion-post-container .fashion-post-category { margin-block-start: 0; }
    main > #fashion > #fashion-content > #fashion-left-area .fashion-post-container .fashion-post-title { margin-bottom: 15px; }

    main > #fashion > #fashion-content > #fashion-right-area { width: 100%; margin-left: 0; margin-bottom: 20px; }
    main > #fashion > #fashion-content > #fashion-right-area > a > p { top: 86%; left: 45px; }
    main > #fashion > #fashion-content > #fashion-right-area > a > h3 { top: 88%; left: 45px; }

    /* LIFESTYLE */
    main > #lifestyle > #lifestyle-content { flex-wrap: wrap; }
    main > #lifestyle > #lifestyle-content .lifestyle-post-container { width: calc(50% - 6px); margin-bottom: 40px; }

    /* BEAUTY */
    main > #beauty > #beauty-content { flex-wrap: wrap; }
    main > #beauty > #beauty-content > #beauty-left-area { width: 100%; margin-right: 0; margin-bottom: 20px; }
    main > #beauty > #beauty-content > #beauty-left-area > a > p { top: 86%; left: 45px; }
    main > #beauty > #beauty-content > #beauty-left-area > a > h3 { top: 88%; left: 45px; }
    main > #beauty > #beauty-content > #beauty-right-area { flex-wrap: wrap; width: 100%; margin-left: 0; }
    main > #beauty > #beauty-content > #beauty-right-area .beauty-post-container { width: 100%; margin-bottom: 10px; }
    main > #beauty > #beauty-content > #beauty-right-area .beauty-post-container .beauty-post-image { float: left; width: 40%; margin-right: 20px; }
    main > #beauty > #beauty-content > #beauty-right-area .beauty-post-container .beauty-post-category { margin-block-start: 0; }
    main > #beauty > #beauty-content > #beauty-right-area .beauty-post-container .beauty-post-title { margin-bottom: 15px; }

    /* CULTURE */
    main > #culture > #culture-content { flex-wrap: wrap; }
    main > #culture > #culture-content .culture-post-container { width: calc(50% - 6px); margin-bottom: 40px; }

    /* LATEST STORIES */
    main > #latest-stories { margin-bottom: 80px; }
    main > #latest-stories > #latest-stories-content > #latest-stories-left-area .latest-stories-post-container { width: calc(50% - 6px); }
}

@media (max-width:480px) {
    html { font-size: 12px; }

    /* TODAY's STORIES */
    main > #todays-stories > #todays-stories-content > #todays-stories-left-area > a > p { top: 75%; left: 30px; }
    main > #todays-stories > #todays-stories-content > #todays-stories-left-area > a > h3 { top: 79%; left: 30px; }

    /* BEST STORIES */
    main > #best-stories > .swiper-button-prev { display: none; }
    main > #best-stories > .swiper-button-next { display: none; }
    
    /* FASHION */
    main > #fashion > #fashion-content > #fashion-right-area > a > p { top: 75%; left: 30px; }
    main > #fashion > #fashion-content > #fashion-right-area > a > h3 { top: 79%; left: 30px; }

    /* BEAUTY */
    main > #beauty > #beauty-content > #beauty-left-area > a > p { top: 75%; left: 30px; }
    main > #beauty > #beauty-content > #beauty-left-area > a > h3 { top: 79%; left: 30px; }
}